<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <title>Disc Golf Statistics</title>
    </head>

    <body>
        {% if current_user.is_authenticated %}
        <p>
            User: {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Logout</a>
        </p>
        {% else %}
            <a href="{{ url_for('auth_login') }}">Login</a>
            <a href="{{ url_for('auth_register') }}">Register</a>
        {% endif %}
        <ul>
            <li><a href="{{ url_for('courses_list') }}">List courses</a></li>
            <li><a href="{{ url_for('courses_form') }}">Add a course</a></li>
        </ul>
        {% block body %}
        <p>
            Content.
        </p>
        {% endblock %}
    </body>
</html>
