<div class="modal" tabindex="-1" role="dialog" id="confirmDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to permanently delete this category?</p>
            </div>
            <div class="modal-footer">
                <button id="delete-button" type="button" class="btn btn-danger">Delete</button>
                <button id="cancel-button" type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('delete-button').onclick = () => window.location = $('#delete-category-link').attr('href')
</script>
