<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Categorized Bookmarks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item {% if request.path == '/categories/' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('categories_list') }}">List categories </a>
            </li>
            <li class="nav-item {% if request.path == '/categories/create' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('categories_create') }}">Add a category </a>
            </li>
            <li class="nav-item {% if request.path == '/bookmarks/' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('bookmarks_list') }}">List bookmarks </a>
            </li>
            <li class="nav-item {% if request.path == '/bookmarks/create' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('bookmarks_create') }}">Add a bookmark </a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <div>
                    <a class="nav-link" href="{{ url_for('auth_logout') }}"> Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth_login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth_register') }}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
