{% extends "layout.html" %}

{% block body %}
<div class="container pt-2 pb-0">
    <div class="container">
        <h3 class="bg-light">
            {{ category.name }}
            <small class="text-muted">{{ category.description }}</small>
        </h3>
    </div>

    <div class="container pt-2">
        <h4 class="bg-light">Actions</h4>
        <span style="display: inline">
            <a href="{{ url_for('categories_edit', id=category.id) }}" role="button">Edit</a>
            <a href="{{ url_for('categories_delete', id=category.id) }}" role="button">Delete</a>
        </span>
    </div>

    <div class="container pt-2 pb-2">
        <h4 class="bg-light">
            {% if category.bookmarks %}
            Bookmarks in this category:
            {% else %}
            No bookmarks.
            {% endif %}
        </h4>
        <ul class="list-group">
            {% for bookmark in category.bookmarks %}
            <li class="list-group-item">
                <a href="{{ bookmark.link }}" title="{{ bookmark.text }}">{{ bookmark.text }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="container pt-2 border">
        <h4 class="bg-light">
            {% if category.children %}
            Child categories:
            {% else %}
            No child categories.
            {% endif %}
        </h4>
        {% with categories=category.children %}
        {% include 'categories/category-list.html' %}
        {% endwith %}
    </div>

    <div class="container pt-2 border">
        <h4 class="bg-light">
            {% if category.parents %}
            Parent categories:
            {% else %}
            No parent categories.
            {% endif %}
        </h4>
        {% with categories=category.parents %}
        {% include 'categories/category-list.html' %}
        {% endwith %}
    </div>

</div>
{% endblock %}
