{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h3>
        {{ category.name }}
        <small class="text-muted">{{ category.description }}</small>
    </h3>
    <h5>Bookmarks in this category</h5>
    <ul class="list-group">
        {% for bookmark in category.bookmarks %}
        <li class="list-group-item">
            <a href="{{ bookmark.link }}" title="{{ bookmark.text }}">{{ bookmark.text }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
