{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>Course</th>
            <th>Actions</th>
        </tr>
    {% for course in courses %}
        <tr>
            <td><a href="{{ url_for('courses_view', id=course.id) }}">{{ course.name }}</a></td>
            <td>
                <a href="{{ url_for('courses_edit', id=course.id) }}">Edit</a>
                <a href="{{ url_for('courses_delete', id=course.id) }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
