{% extends "layout.html" %}

{% block body %}
<div class="container">
    <ul class="list-group">
        {% for bookmark in bookmarks %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ bookmark.link }}">{{ bookmark.text }}</a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ url_for('bookmarks_delete', id=bookmark.id) }}" role="button">Delete</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
